<!DOCTYPE html>
<html lang="en">
<head>
        <title>Blog</title>
        <meta charset="utf-8" />
        <link href="https://jabesga.github.io/mediasmart-pelican/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Mediasmart Full Atom Feed" />
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="https://jabesga.github.io/mediasmart-pelican/">Mediasmart <strong></strong></a></h1>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/about-us">About Us</a></li>
            <li class="active"><a href="https://jabesga.github.io/mediasmart-pelican/blog">Blog</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/contact">Contact</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/cookie-policy">Cookie policy</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/partners">Partners</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/privacy-policy">Privacy policy</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/product">Product</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/sign-up">Sign Up</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/solutions">Solutions</a></li>
            <li><a href="https://jabesga.github.io/mediasmart-pelican/terms-of-use">Terms of use</a></li>
        </ul></nav><!-- /#menu -->
    <h1>Blog</h1>
    

    <ul class='blog'>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}">
        <small>
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.tag %}<span class='tag'><label>{{post.tag}}</label></span>{% endif %}
        </small>
        <h3>{{ post.title }}</h3>
        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | remove: '<blockquote>' | remove: '</blockquote>' | truncatewords: 48 }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>